


body {
    margin: 0;
    }

header {
    text-align: center;
    height: 40px; 
    
     }
        header > nav { 
            padding-top: 10px;
            margin-right: 10px;
        }
           
        header > nav :hover {
           color: rgb(0, 174, 255);
           border-bottom: 2px solid rgb(0, 174, 255);
           
        }

        header > nav > a {
            padding: 10px;
            text-decoration: none;
            color: black;
        } 

section > p {
         
         font-size: 1.5em;
         margin-left: 35px;
         color:white;
         box-shadow: inset 9px 9px 100px 30px rgb(0, 0, 0);
         padding: 10px;
         display: inline-block;

       
        
            
        }

            section.imagem {
            background-image: url(imagens/Fraser\ Valley\ Tulip\ Festival\ -\ Times\ Two!.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-color: black;
            padding-top: 10vh;
            padding-bottom: 10vh;
            box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0);
            position: relative;
            background-position: center center;
            
             }

            #botão {
                position: absolute;
                width:120px;
                height:30px ;
                top: 37%;
                left: 74%;
                text-decoration: none;
                background-color:white;
                color: white;
                border: none;
                border-radius: 10px;
            } 
            
            #botão:hover {
                background-color:blue;

            }


            a{ text-decoration: none;
               color: black;
               padding: 7px 11px 7px 4px;
              
               }
               a:hover{
                color: white;
               }
            h2 {
                margin-left: 35px;
            }
            
            div{
                
                 position: relative;
                 margin-top: 0px;
            }
            #texto01 {
                
                color:black;
                padding:  10px;
                display: inline-block;
                margin-left: 30px;
               
            }
                 
          
                 #imagem01{
                    position: absolute;
                    top: 63%;
                    left: 56%;
                    width: 350px;
                    height: 200px;
                 }

footer > p {
    text-align: center;
    background-color: blue;
    height: 40px; 
    padding-top: 10px;
   
}

footer >p> a {
    text-decoration: none;
    color: black;
}

